

/* .batteryHealth{
  color: #fff;
  padding: '10px';
  border-radius:50% ; 
  display: inline-flex;
  align-items: center;
  justify-content:center ;
} */
/* .labelAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.labelAlignment label
 {
  margin-right: 10px; 
}
.labelAlignment Input
 {
  margin-right: 2px; 
} */
.noticationBar {
  position: absolute;
  padding: 10px;
  border: 1px solid gray;
  background-color: #fff;
  width: auto;
  z-index: 1000; 
  max-height: 200px; 
  overflow-y: auto; 
  width: inherit;
}
.fairHealth, .fairHealth{
  background-color: green !important;
  border-color: green;
}
.goodHealth, .goodHealth:checked{
 background-color: orange;
 border-color: orange;
}
.poorHealth,.poorHealth:checked{
background-color: red;
border-color: red;
}
.bessTable{
  margin-top: 15px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}